<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Tilldelade Bokningar</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}" href="../static/css/styles.css">
  <link rel="shorcut icon" th:href="@{/img/favicon.ico}" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <!-- Font -->
  <!--    <link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700,900" rel="stylesheet">-->
</head>
<body>

</body>
</html>